<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mobdevportfolio">
        <activity android:name=".ViewWalkActivity"
            android:exported="false"
            android:label="@string/title_activity_view_walk"
            android:theme="@style/Theme.Mobdevportfolio" />
        <activity android:name=".AddMealActivity"
            android:exported="false"
            android:label="@string/addmealactivity"
            android:theme="@style/Theme.Mobdevportfolio" />
        <activity
            android:name=".PhotoViewActivity"
            android:exported="false"
            android:label="@string/title_activity_photo_view"
            android:theme="@style/Theme.Mobdevportfolio" />
        <activity
            android:name=".AddWalkActivity"
            android:exported="false"
            android:label="@string/addwalkactivity"
            android:theme="@style/Theme.Mobdevportfolio" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        Google API Documentation: https://developers.google.com/maps/documentation/android-sdk/config-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/MY_API_KEY"/>
    </application>

</manifest>